<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Alterar ordem de serviço</h4>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="serviceOrderForm">
    <div class="row">
      <div class="col-md-6" *ngIf="type == 'description'">
        <div class="form-group">
          <label for="exampleInputEmail1">Nova descrição</label>
          <input type="email" class="form-control" aria-describedby="description" placeholder="Digite uma descrição"
            formControlName="description">
        </div>
      </div>
      <div class="col-md-6" *ngIf="type == 'customer'">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Novo cliente</label>
          <ng-select [items]="customers | async" bindLabel="name" bindValue="id" placeholder="Selecione"
            formControlName="customerId">
          </ng-select>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
</div>
